*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
app/debug/
app/production/
.kotlin/
.idea/
gradle

# Environment variables (contains sensitive data)
.env